p.teaser {
	text-indent: 30px; 
	}
		.inactive {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0!important;
    color: rgba(0, 0, 0, 0.15)!important;
    pointer-events: none;
}
.active {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 1px;
    min-width: 110px;
    text-align: center;
}

.adduserform {
    /*background: #f9f9f9 none repeat scroll 0 0;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.05);*/
    padding: 20px;
    float: left;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.07);
    min-height: 40px;
    padding: 10px;
}
label {
    color: #919191;
    line-height: 1;
    padding: 0;
    position: relative;
    top: -4px;
}
.search-box-users {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px;
}
.user-search-box-lable {
    /*float: left;*/
    line-height: 1;
    margin: 0;
    padding: 13px 0 0;
}
.search-box-part {
    display: inline;
}
.search-box-part select {
    padding: 2px;
}
.btn-act-dact {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #404040;
    display: block;
    max-width: 80px;
    padding: 2px;
    text-align: center;
}
.btn-act-dact-disabled {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #909090;
    display: block;
    max-width: 80px;
    padding: 2px;
    text-align: center;
    
}
.btn-act-dact-disabled:hover,
.btn-act-dact-disabled:focus {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #909090;
    display: block;
    max-width: 80px;
    padding: 2px;
    text-align: center;
    cursor: default;
    text-decoration: none;
    outline: none;
}
.btn-act-dact:hover {
    background: #ccc none repeat scroll 0 0;
    text-decoration: none;
    color: #000
}
.alert.alert-success {
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.loader-holder {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}
.user-action-btn {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #404040;
    display: inline-block;
    min-width: 50px;
    padding: 2px;
    text-align: center;
}
.user-action-btn:hover {
    background: #ccc none repeat scroll 0 0;
    text-decoration: none;
    color: #000
}

.user-action-btn-disabled {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #909090;
    display: inline-block;
    min-width: 50px;
    padding: 2px;
    text-align: center;
    pointer-events: none;
    
}
.user-action-btn-disabled:hover,
.user-action-btn-disabled:focus {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #909090;
    display: inline-block;
    min-width: 50px;
    padding: 2px;
    text-align: center;
    cursor: default;
    text-decoration: none;
    outline: none;
}

.btn-act-dact-disabled{
  pointer-events: none;
}

.address-field {
    max-height: 39px;
    resize: none;
}
.input-group-addon.datepicker-icon {
    cursor: pointer;
}
.user-image-perview{
  height: 90px
}
.user-profile-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 200px;
    /*padding: 5px;*/
}

.property-row {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0px 30px;
}

.property-label {
    /*background: #ff0000 none repeat scroll 0 0;*/
    display: inline-block;
    font-weight: bold;
    min-width: 150px;
    padding: 5px;
}

.property-value {
    display: inline-block;
    padding: 5px;
}


.user-msg {
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    padding: 5px 0;
}

.property-profile-pic {
    border: 10px solid rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    display: inline-block;
    height: 120px;
    margin: 30px 0 0 30px;
    overflow: hidden;
    width: 120px;
}
.property-profile-pic img {
    height: 120px;
 }
 .profile-edit-btn {
    float: right;
    margin: 10px 10px 0 0;
}


.user-img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.user-dummy-pic {
    height: 100px!important;
}
.admin-operation-link{
  text-align: left;
}
.old-user-img-perview {
    height: 80px;
    position: relative;
    width: 80px;
}
.old-user-image-perview-pic {
    height: 80px;
}
.change-image{
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 50%;
    color: #bbb;
    display: block;
    height: 36px;
    left: 0px;
    padding: 9px 10px 7px;
    position: absolute;
    top: 0px;
    width: 36px;
}
.change-image:hover{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 36px;
    left: 0px;
    padding: 9px 10px 7px;
    position: absolute;
    top: 0px;
    width: 36px;
}

.route-list-wrapper {
    /*background: #ff0000 none repeat scroll 0 0;*/
    width: 100%;
}

 
.route-list-wrapper > select {
    height: 100%;
    width: 100%;
}

.routlist > li {
    line-height: 1;
    margin-bottom: 2px;
    overflow:hidden
}


.routlist {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.route-name-input {
    float: left;
    line-height: 1.6em;
    height: 1.6em;
    margin: 0px 2px;
    padding: 0px;
    font-size: inherit;
}
.route-name {
    float: left;
    font-size: inherit;
    height: 1.6em;
    line-height: 1.6em;
    margin: 4px 0 0 5px;
    padding: 0;
    position: relative;
    top: 0;
    cursor: pointer;
}
.route-name em {
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0 0;
    color: #008000;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px 0 4px;
}
.route-name > span {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    color: #000000;
    font-family: sans-serif;
    font-weight: normal;
    padding: 1px 10px;
}
input#create-permission-submit {
    margin: 30px 0;
}

.btn-edit-cl.btn-info {
    border-radius: 5px;
    float: left;
    padding: 6px 20px;
}
.sr-no-route {
    color: rgba(0, 0, 0, 0.5);
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    padding: 8px 10px 0 0;
    position: relative;
}
.all-permissions-view {
    float: right;
}
.navbar{margin-bottom: 0}

.btn.btn-primary.edit-permission-submit {margin: 20px 0 0;}
.left-menu {background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;}
.right-content-area {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;padding: 10px}
.left-menu > ul {list-style: outside none none;margin: 0;padding: 0;}
.left-menu a {border-bottom: 1px solid rgba(0, 0, 0, 0.05);display: block;padding: 5px 0 5px 30px;}
nav.navbar{background: #328aff;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);}
.navbar-header .navbar-brand {color: #ffffff;}
.left-menu {border-right: 1px solid rgba(0, 0, 0, 0.1);height: 100vh;margin-top: -52px;padding-top: 52px;background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;}
.nav .dropdown .dropdown-toggle {color: #ffffff;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #3b7ff8;
    color: #555555;
}
.login-page .panel.panel-default {
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
}

.users-table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px
}
.users-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 12px
}
.users-table th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    font-size: 12px
}